<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <!--<script src="/js/vue.min.js"></script>-->
    <!--<script src="/js/vue-resource@1.3.4.js"></script>-->
</head>
<body>
<div th:include="test/temp::#head"></div>

<div id="demo">
    <table border="0">
        <tr class="textCenter">
            <td style="width: 100px;">姓名</td>
            <td style="width: 60px;">电话</td>
            <td style="width: 200px;">邮件</td>
        </tr>
        <tr v-for="x in userList">
            <td>
                {{x.userName}}
            </td>
            <td>
                {{x.userPhone}}
            </td>
            <td>
                {{x.userEmail}}
            </td>
            <td>
                <input type="button" v-on:click="DeleteUser(x)" value="删除"/>
            </td>
        </tr>
    </table>
    <form id="myForm" name="myForm">
        <table>
            <tr>
                <td style="width: 50px;">姓名:</td>
                <td>
                    <input type="text" v-model="newUser.userName"/>
                </td>
            </tr>
            <tr>
                <td style="width: 50px;">电话:</td>
                <td>
                    <input type="number" v-model="newUser.userPhone"/>
                </td>
            </tr>
            <tr>
                <td style="width: 50px;">邮件:</td>
                <td>
                    <input type="text" v-model="newUser.userEmail"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <input type="button" v-on:click="addUser()" value="添加"/>
                    <input type="reset" style="display: none" id="val1"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var vm = new Vue({
        el: "#demo",
        data: {
            userList: [],
            newUser: {userName: '', userPhone: '', userEmail: ''}
        },
        methods: {
            GetAllUser: function () {
                var _self = this;
                _self.userList = [];
                Vue.http.get("/test/getall").then(function (res) {
                    for (var i = 0; i < res.body.length; i++) {
                        _self.userList.push(res.body[i]);
                    }
                });
            },
            DeleteUser: function (user) {
                var _self = this;
                Vue.http.post("/test/deluser", {userName: user.userName}).then(function (res) {
                    if (res.body.Code == 1) {
                        _self.GetAllUser();
                    }
                    else {
                        alert(res.body.Msg);
                    }
                });
            },
            addUser: function () {
                var _self = this;
                if(_self.newUser.userName==""){
                    alert('姓名不能为空！');
                    return;
                }
                Vue.http.post("/test/adduser", _self.newUser).then(function (res) {
                    if (res.body.Code == 1) {
                        _self.GetAllUser();
                        myForm.reset();
                    }
                    else {
                        alert(res.body.Msg);
                    }
                });
                return false;
            }
        }
    });
    vm.GetAllUser();

    document.writeln(new Date().getMilliseconds());
    /*]]>*/
</script>
<!--<div th:text="${intYear}"></div>-->
<div th:include="test/temp::footer(${intYear})"></div>
</body>
</html>